body{
    background-color: #81c784;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: 450px;
    background-color: white;
    text-align: center;
    padding-top: 50px;
    
   
}
.formInputs{
    padding: 20px 40px;
    background-color: #eceff1;
    border-style: none;
    margin: 10px;
    /* height: 30px; */
    width: 250px;
   
}
#submitBtn{
    background-color: #81c784;
    color: white;
    border-style: none;
    width:330px ;
    height: 50px;
}
input:invalid {
    border: 2px solid red;
  }
input:invalid + .error::after {
    content: "Please follow the pattern.";
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    
  }